.right_block {
    display: flex;
    gap: 10px;
    --size: 25px;
    align-items: center;
}

.username {
    font-size: 25;
}

.settings {
    transition: transform 1s ease;
    &:hover {
        transform: rotate(360deg);
    }
}
