.name {
    font-size: 28px;
    font-weight: 600;

    /*&:hover {
        text-decoration: underline;
    }*/
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
}

.params {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.icons {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}
