.wrapper {
    position: relative;
}

.label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-weight: 500;
    pointer-events: none;
}
